.not-selectable {
    cursor: default;
}

.hidden {
    display: none;
}

.row div {
    padding-right: 10px;
    padding-left: 10px;
}

input, select {
    text-align: center;
}

#general-stats {
    cursor: pointer;
}

#attribute-table {
    margin-bottom: 0;
}

#attribute-table td, #attribute-table th {
    text-align: center;
}

#attribute-table .row-stat:hover {
    animation-name: greenish;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#attribute-table table td {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 80%;
}

#ability-table {
    margin-bottom: 0;
}

#ability-table td {
    text-align: center;
    padding: 0.25rem;
}

#ability-table th {
    text-align: center;
}

#health-table tr * {
    text-align: center;
}

#hit-die-table tr * {
    text-align: center;
}

#ability-table tr:not(:first-child):hover {
    animation-name: greenish;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#weapon-table tr:not(:first-child):hover {
    animation-name: greenish;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#inventory-table tr:not(:first-child):hover {
    animation-name: greenish;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

#status-table th, #status-table td {
    text-align: center;
}

#custom-status-table tr:not(:first-child):hover {
    animation-name: greenish;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.proficient-with {
    font-weight: 600;
}

.expert-with {
    font-weight: 800;
}

@keyframes greenish {
    from {
        background: white;
    }

    to {
        background: #1e7e3480;
    }
}